.personal-page__open {
  width: 24px;
  height: 24px;
  cursor: pointer;
  padding-top: 8px;
  transition: opacity .5s ease;
  margin-left: 18px;
}

.personal-page__open:hover {
  transition: opacity .5s ease;
  opacity: 0.6;
}

@media (max-width:425px){
  .personal-page__open {
    width: 18px;
    height: 18px;
    margin-left: 0px;
  }
}
