.popup__save_disabled {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, .2);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, .15);
  color: rgba(0, 0, 0, .2);
  transition: all .1s ease;
  box-sizing: border-box;
  cursor: auto;
}

.popup__save_disabled:focus {
  -webkit-tap-highlight-color: rgba(0, 0, 0, .2);
}
.popup__save_disabled:active {
  -webkit-tap-highlight-color: rgba(255, 255, 255, .2);
}
