.footer__copyright {
  color: #545454;
  padding: 66px 0 60px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
}

@media (max-width:425px){
  .footer__copyright {
    font-size: 14px;
    padding-top: 46px;
    padding-bottom: 32px;
  }
}
