@media (max-width:600px){
	.header-type-info {
		display: flex;
		flex-direction: column;	
		
		border-bottom: 1px solid rgba(84, 84, 84, .7);
	}
	}
	@media (min-width:600px){
	.header-type-info {
		display: none;
	}
	}